<div class="container_big-card">
    <div class="big-card_photo">
        <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtQeTzcnyxIv9eMAVo-wJtdXA0S0VYh3jFXTvqyoV_spXdlBU56c6iikcQDprmv1QaOPY&usqp=CAU" 
            alt=""
            height="200px"
            
            >
    </div>

    <div class="big-card_title">
        <h1>Saiu a nova versão do ANGULAAAAR!</h1>
    </div>

    <div class="big-card_description">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum natus exercitationem magnam a numquam et excepturi quidem deserunt, modi reiciendis itaque fugiat temporibus? Voluptatem vitae autem eum assumenda nihil molestiae?</p>
    </div>
</div>
